

.page {
	padding: 24px;
	max-width: 400px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 32px;
}
.header{
	display: flex;
	justify-content: space-between;
} 

.tabs {
    display: flex;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.tab.active {
    background-color: #007bff;
    color: #fff;
}

.button{
	display: flex;
width: 343px;
padding: 16px 140px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 10px;
background: #F46F17;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 100%;
text-align: center;
color: #FFF;
	transition: opacity 0.7s;
	cursor: pointer;
	&:hover{
		opacity: 0.7;
	}
}
.title{
	font-size: 24px;
	color: #121212;
}
.post__list{
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.post {
	padding: 12px;
	border-radius: 10px;
	background-color: #f7f7f7;
	border: 1px solid #f7f7f7;
	display: flex;
	flex-direction: column;
	gap: 12px;

	&--viewed{
		background-color: transparent;
		border-color: #e6e6e6;
		.post__info{
			color: #888888;
		}
	}
}
.post__header{
	display: flex;
	justify-content: space-between;
}
.post__category-list{
	display: flex;
	gap: 8px;
}

.post__info{
	font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%;
color: #363636;
}
